<h1>Posts Index</h1>

<% @posts.each do |post| %>
    <p>
        <h3>
            <img src="<%= gravatar_img_url(post.user.email) %>">
            <%= post.body %> 
        </h3>
        Author: <%= post.user.display_name %> </br>
        <ul>
        <% post.comments.each do |comment| %>
            <li>
                <h4>
                    <img src="<%= gravatar_img_url(comment.user.email) %>">
                    <%= comment.body %>
                </h4>
                By: <%= comment.user.display_name %> </br>
                <%= form_with url: comment_path, method: :delete do |form|  %>
                    <%= form.hidden_field :post_id, value: post.id %>
                    <%= form.hidden_field :comment_id, value: comment.id %>
                    <%= form.submit "Delete" %>
                <% end %>
            </li>
        <% end %>
    </ul>
    </p>
    <hr>
<% end %>
