<h1>Post Detail</h1>


<h2>
    <img src="<%= gravatar_img_url(@post.user.email) %>">
    <%= @post.body %>
</h2>
Posted by:  <%= @post.user.display_name%> </br>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>
<h4>Add a comment</h4>
<%= form_with url: comment_path, method: :post do |form|  %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.label :user_email %>
    <%= form.text_field :user_email %>
    </br>
    <%= form.label :body %>
    <%= form.text_area :body %>
    </br>
    <%= form.submit "Add Comment" %>
<% end %>
<hr>

<% if @post.comments.count > 0 %>
    <h3>Comments</h3>
    <ul>
        <% @post.comments.each do |comment| %>
            <li>
                <h4>
                    <img src="<%= gravatar_img_url(comment.user.email) %>">
                    <%= comment.body %>
                </h4>
                By: <%= comment.user.display_name %> </br>
                <%= form_with url: comment_path, method: :delete do |form|  %>
                    <%= form.hidden_field :post_id, value: @post.id %>
                    <%= form.hidden_field :comment_id, value: comment.id %>
                    <%= form.submit "Delete" %>
                <% end %>
            </li>
        <% end %>
    </ul>
<% else %>
    <h4>This post has no comments.</h4>
<% end %>

