
<div class="panel panel-default">
    <div class="panel-body">
        <h2>
            <img src="<%= gravatar_img_url(@post.user.email) %>">
            <%= @post.body %>
        </h2>
    </div>
    <div class="panel-footer">
        <%= @post.user.display_name %> created post at <%= @post.created_at %>
        <% if @post.updated_at > @post.created_at %>
            <div class="pull-right">
                Last edited <%= time_ago_in_words(@post.updated_at) %> ago
            </div>
        <% end %>
    </div>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<hr>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Add a comment</h4>
    </div>
    <div class="panel-body">
        <%= form_with url: comment_path, method: :post do |form|  %>
            <% flash.each do |type, message| %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
            <% end %>
            <%= form.hidden_field :post_id, value: @post.id %>
            <div class="form-group">
                <%= form.label :user_email %>
                <%= form.text_field :user_email, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= form.label :body %>
                <%= form.text_area :body, class: 'form-control' %>
            </div>
            <%= form.submit "Add Comment", class: 'btn btn-default' %>
        <% end %>
    </div>
</div>
<hr>

<% if @post.comments.count > 0 %>
    <h3>Comments</h3>

    <ul class="list-group">
        <% @post.comments.order(created_at: :asc).each do |comment| %>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <img src="<%= gravatar_img_url(comment.user.email) %>">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= comment.body %></h4>
                        <em>Submitted by <%= comment.user.display_name %> at <%= comment.created_at %></em>
                    </div>
                    <div class="media-right">
                        <%= form_with url: comment_path, method: :delete do |form|  %>
                            <%= form.hidden_field :post_id, value: @post.id %>
                            <%= form.hidden_field :comment_id, value: comment.id %>
                            <%= form.submit "Delete", class: 'btn btn-danger' %>
                        <% end %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
<% else %>
    <h4>This post has no comments.</h4>
<% end %>

