<!DOCTYPE html>
<html>
  <head>
    <title>BogusBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top custom-font">
      <div class="container">
        <div class="navbar-header">
          <a href="<%= posts_path %>" class="navbar-brand">Bogus Board</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "New post", controller: "posts", action: "new" %></li>
        </ul>
      </div>
    </nav>

    <div id="body-spacer"></div>

    <div id="main-content" class="container">
      <% flash.each do |_, flash_message| %>
        <div class="alert alert-info"><%= flash_message %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
